/* reset */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: normal;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

input {
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
}