/* utilities - classes */

/* grid and flex */
.flex-center {
  display: flex;
  justify-content: center;
}

.grid-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* background */
.bg-blur-30{
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(4px);
}